@use "./partials/variables";
@use "./partials/base";
@use "./blocks/input";
@use "primeicons/primeicons.css";
@use "blocks/dialog";
@use "blocks/tailwind";
@use 'blocks/select';
@use 'blocks/button';

