@use "./partials/variables";
@use "./partials/base";
@use "./blocks/input";
@use "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-sm;
  }
  td {
    @apply capitalize text-white/70;
  }
  thead td {
    @apply text-white;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 max-w-[1000px];
  }
  .btn {
    @apply bg-blue-600 text-white px-4 py-3 rounded hover:bg-blue-700 transition;
  }
}

@layer utilities {
  .btn-success {
    @apply bg-green-600 text-white px-4 py-3 rounded hover:bg-green-700 transition;
  }
  .btn-danger {
    @apply bg-red-600 text-white px-4 py-3 rounded hover:bg-red-700 transition;
  }
  .btn-warning {
    @apply bg-yellow-500 text-white px-4 py-3 rounded hover:bg-yellow-600 transition;
  }
  .btn-info {
    @apply bg-teal-600 text-white px-4 py-3 rounded hover:bg-teal-700 transition;
  }
}

