@use "./partials/variables";
@use "./partials/base";
@use "./blocks/input";
@use "primeicons/primeicons.css";
@use "blocks/dialog";
@use "blocks/tailwind";
@use 'blocks/select';

.router-link-exact-active {
  @apply text-white underline;
}
