@use "./partials/variables";
@use "./partials/base";
@use "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/forms";

@layer base {
  body {
    @apply bg-gray-100 text-sm;
  }
  td {
    @apply capitalize text-white/70;
  }
  thead td {
    @apply text-white;
  }
}

@layer components {
  .input {
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-accent;
  }
  .container {
    @apply mx-auto px-4 max-w-[1000px];
  }
}

@layer utilities {
  // .btn-red {
  //   @apply bg-red-600 text-white font-medium py-2 px-4 rounded hover:bg-red-700 transition;
  // }
  // .btn-green {
  //   @apply bg-green-600 text-white font-medium py-2 px-4 rounded hover:bg-green-700 transition;
  // }
  // .btn-blue {
  //   @apply bg-blue-600 text-white font-medium py-2 px-4 rounded hover:bg-blue-700 transition;
  // }
}

.router-link-exact-active {
  @apply  text-white;
}
