@use "./partials/variables";
@use "./partials/base";
@use "./blocks/input";
@use "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-sm;
  }
  td {
    @apply capitalize text-white/70;
  }
  thead td {
    @apply text-white;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 max-w-[1000px];
  }
}

