// html {
//   min-width: 320px;
//   height: 100%;
//   font-size: 62.5%;
//
//   @media screen and (max-width: 1550px) {
//     font-size: 60%;
//   }
//
//   @media screen and (max-width: 1400px) {
//     font-size: 58%;
//   }
//
//   @media screen and (max-width: 1200px) {
//     font-size: 50%;
//   }
// }

body {
  position: relative;
  margin: 0;
  font-family: var(--font-1);
}
//
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }
//
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   padding: 0;
//   font-size: inherit;
//   font-weight: inherit;
// }
//
// img {
//   max-width: 100%;
//   height: auto;
//   vertical-align: top;
// }
//
// ul {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }
//
// p {
//   margin: 0;
//   padding: 0;
// }
//
// .hidden {
//   display: none;
// }
//
// .container {
//   margin: 0 auto;
//   padding: 0 10px;
//   max-width: 1292px;
// }
//
// input[type='submit']:disabled {
//   opacity: 0.6 !important;
//   cursor: not-allowed !important;
// }
//
// a {
//   color: inherit;
//   text-decoration: none;
// }
//
// input::-ms-clear {
//   display: none;
// }
//
// button {
//   cursor: pointer;
// }
//
// button::-moz-focus-inner {
//   padding: 0;
//   border: 0;
// }
//
// .title-hidden {
//   position: absolute;
//   opacity: 0;
//   pointer-events: none;
// }
//
// .line-clamp-1 {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
//
// .line-clamp-2 {
//   display: -webkit-box;
//   -webkit-line-clamp: 2;          /* number of lines */
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }
