:root {
  --accent: #366DF4;
  --accent-dark: #2c58c4;
  --accent-light: #4082ff;
  --contrast: rgb(15, 119, 57);
  --success: #34CD58;
  --font-1: 'Roboto', sans-serif;
  --font-2: 'Manrope', sans-serif;
  --text-color: #000000;
}
